/* Universal selector and Overal body background */
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #F5F8FF;
}

/* Added Fonts */
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;   
}
.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* Navbar Style */
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    padding: 70px 0px ;
    margin: auto;
}
.nav-bar h2{
    color:#4E47FF ;
    font-size: 34px;
}
/* button style  */
.btn-primary{
    
    color:white;
    background-color: #4E47FF;
    font-size:16px;
    width: 132px;
    padding: 15px 10px;
    align-items: center;
    border:none;
    border-radius: 10px;
}
/* hero Sections */
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 158px 0px;
}

.hero-section h2{
    font-size: 65px;
    text-align: center;
    /* color: #252432; */
}
header{
    background-image: url("./Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover  ;
}
#stay-focused-btn{
    padding: 15px 0px;
    width: 200px;
}
/* Actions Section */

.action{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 120px auto;
    align-items: center;
    
}

.action div h2{
    font-size:43px;
}
.action div p{
    font-size:24px;
    color: #2524327e;
}
#launch-btn{
    width: 230px;
    height: 48px;
    font-size: 16px;
}
.action-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.action-img-div img {
    border-radius: 48px;
}